.sidebar {
  background: $color-1;
  font-family: $font-1;
  height: auto;
  min-height: $min-height;
  min-width: 190px;
  width: 29%;
  border-radius: $border-radius;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px auto .15fr .25fr;
  grid-template-areas:
    "1"
    "2"
    "3"
    "4";

  .id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;
    margin: 2rem 0;

    .idContent {
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        border-radius: 50%;
        box-shadow: 0 0 0 5px $color-4;
        width: 145px;
        height: 145px;
      }

      h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        color: $color-4;
      }
    }
  }

  .navigation {
    grid-area: 2;
    padding: 2rem 1rem;
    z-index: 1;

    ul {
      height: auto;
      display: grid;
      padding: 2rem 0;
  
      li {
        padding: 2rem 0 2rem .4rem;
        font-size: 1.3rem;
        position: relative;
        transition: .3s ease;

        a {
          color: $color-3;
          span {
            margin-left: 1rem;
          }
        }

        &:hover {
          transform: translateX(4px);
          transition: .3s ease;
        }     
        
      }
    }
  }

  .links {
    grid-area: 3;
    padding-bottom: .8rem;
    ul {
      display: flex;
      width:auto;
      justify-content:space-evenly;

      li {
        font-size: 1.3rem;
        background: $color-3;
        color: $color-1;
        border-radius: 50%;
        padding: .5rem .8rem;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(115%);
          transition: 0.3s ease;
          display: block;
          }
      }
    }
  }
  .signature {
    grid-area: 4;
    margin-top: 2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    font-size: .7rem;
    color: $color-4;
    cursor:default;
  }
}

@media screen and (max-width: 1140px){
  .sidebar {
    .id {
      h3 {
        font-size: 1rem !important;
      }
    }
  }  
}

@media screen and (max-width: 850px){
  .sidebar {
      display: flex;
      min-height: 25px;
      margin-bottom: .2rem;
      width: auto;

      .id, .links, .signature {
          display: none !important;
      }

      .navigation {
          width: 100%;
          padding: 0;

          ul {
              display: flex;
              justify-content: space-evenly;
              padding: 0;
            
              li {
                &:hover {
                  transform: scale(115%);
                  transition: 0.2s ease;
                  display: block;
                }
              }
          }
      }
  }
}

@media screen and (max-width: 700px) {
  .sidebar {

    ul {
      justify-content: space-around !important;

      li {
        padding: 1rem 0 !important;
        a {
          font-size: 120% !important;
        }
        
        &:hover {
          transform: scale(125%) !important;
          transition: 0.2s ease !important;
        }
      }

      span {
        display: none;
      }
    }
  }
}