.expertise {
  .expertiseContent {
    min-height: $min-height;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 25% 1fr 1.5fr;
    grid-template-areas: 
      "S E E"
      "O O H";
    
    .technicals, .experiences, .other, .hobbies {
      background: $color-1;
      color: $color-3;
      border-radius: $border-radius;
      padding: .8rem;
    }

    h3 {
      font-size: 1.5rem;
      margin: .3rem 0 1rem;
      font-family: $font-2;
      color: $color-4;
      text-transform: uppercase;
    }

    .technicals {
      grid-area: S;
      display: grid;
      margin: 0 .1rem .1rem 0;
//      grid-template-columns: 1fr;
      grid-template-areas: 
        "1"
        "2";
      
      h3 {
        margin-bottom: .3rem;
      }

      .skillsDisplay {
        grid-area: 1;
      }

      .toolsDisplay {
        margin-top: 1rem;
        grid-area: 2;
      }

      .technicalItem {
        padding-top: .5rem;

        li {
          color: $color-3;
        }
        .progressBar {
          height: .4rem;
          background: $color-3;
          border-radius: 50px;
          margin-top: .2rem;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            background: $color-2;
            border-radius: 50px;
            height: .4rem;
            width: 0;
            animation: line 1.5s ease-out forwards;
            @keyframes line {
              to {
                width: 100%;

              }
            }
          }
        }
      }
    }
    .experiences {
      grid-area: E;
      margin: 0 0 .1rem 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "1"
        "2"
        "3"
        "4"
        "5";
      
      h3 {
        grid-area: 1;

      }
      h4 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
      }
      h5 {
        font-size: .95rem;
        padding-bottom: .21rem;
      }
      p {
        text-align: justify;
      }
      .experiencesList {
        .exp-1 {
          grid-area: 2;
        }
        .exp-2 {
          grid-area: 3;
        }
        .exp3 {
          grid-area: 4;
        }
        .exp4 {
          grid-area: 5;
          padding-bottom: 0;
        }

      }
      .experiencesList > * {
        padding-bottom: 2rem;
      }
    }
    .other {
      grid-area: O;
      .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          "A B";
        height: 100%;
        margin: 0 auto;

        .list1 {
          grid-area: A;
          display: flex;
        }
        .list2 {
          grid-area: B;
          display: flex;
        }
  
        ul {
          height: 80%;
          display: grid;
  
          i {
            color: $color-2;
          }
        }
      }
    }
    .hobbies {
      grid-area: H;
      margin-left: .1rem;
  
      ul {
        height: 80%;
        display: grid;
  
        li {
          padding-bottom: .2rem;
          margin-bottom: .2rem;
          svg {
            position: relative;
            color: $color-2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .expertise {
    .expertiseContent {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "T"
        "E"
        "O"
        "H";
      .technicals {
        grid-area: T;
        margin-right: 0;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-areas: 
          "S T";
          
        .skillsDisplay {
          grid-area: S;
        }

        .toolsDisplay {
          grid-area: T;
          margin-top: 0;
        }
      }

      .experiences {
        grid-area: E;
      }

      .other {
        grid-area: O;
        height: max-content;
        margin-bottom: 0.1rem;
      }

      .hobbies {
        grid-area: H;
        margin-left: 0;
        height: max-content;
      }
    }
  }
}