.home {
  .homeContent {
    background: linear-gradient(130deg, $color-1 30%, transparent 100%);
    min-height: $min-height;
    width: 100%;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      background: url('../../media/map.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(30%);
    }

    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 5rem;
        font-family: $font-1;
        color: $color-3;
        text-shadow: 2.5px 4px 1.5px $black;
        cursor:default;
      }
      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 7rem;
        color: $color-3;
        text-shadow: 1px 3px 1px $black;
        cursor:default;
      }
      .actions {
        display: grid;
        padding: 0 2rem 0 0;
        margin: 0 2rem 0 0;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "D L";

        .pdf {
          grid-area: D;
          transition: .3s;
          a {
            font-size: 1.2rem;
            background: $color-3;
            padding: 1rem 1rem;
            border-radius: $border-radius;
            transition: .3s ease;
          }
          &:hover {
            transform: scale(105%);
            transition: 0.3s ease;
          }
          
        }

        .links {
          grid-area: L;
          display: none;
          ul {
            display: flex;
            width:auto;
            justify-content:space-around;
      
            li {
              font-size: 1.3rem;
              background: $color-3;
              color: $color-1;
              border-radius: 50%;
              transition: .3s;
              cursor: pointer;
              &:hover {
                transform: scale(110%);
                transition: 0.3s ease;
              }
              a {
                font-size: 1.5rem;
                background: $color-3;
                padding: .75rem 1rem;
                border-radius: $border-radius;
                transition: .3s ease;
              }
           }
          }
        }
      }
    }
  }  
}

@media screen and (max-width:850px){
  .home {
    .homeContent {
      .sidebar {
        .links {
          display: none !important;
        }
      }
      .links {
        display: block !important;
        ul {
          li {
            margin: 0 1rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width:680px){
  .homeContent {
    &:after {
    background: url('../../media/map.jpg') no-repeat 60% 50%/cover !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}

@media screen and (max-width:500px){
  .links {
    display: block !important;
    li {
      margin: 0 .5rem !important;
    }
  }
  .pdf {
    margin-right: 0.5rem !important;
    a{
      padding: 1rem 1.15rem !important;
    }
    span {
    display: none;
    }
  }
}